repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.12.7'
    hooks:
      - id: ruff
        args: ['--fix']
  
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      language_version: python3
# Mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'  
    hooks:
    - id: mypy 
      name: mypy 
      additional_dependencies: [types-PyYAML==6.0.12.20240808]
