repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.4'
    hooks:
      - id: ruff
        args: ['--fix']
  
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
    - id: black
      language_version: python3
# Mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'  
    hooks:
    - id: mypy 
      name: mypy 
      additional_dependencies: [types-PyYAML==6.0.12.20240808, types-python-dateutil]
