name: access-nri-intake-doc
channels:
  - conda-forge
  - defaults
dependencies:
  - python==3.11
  - astroid<3.0 # see https://github.com/readthedocs/sphinx-autoapi/issues/407
  - hdf5
  - ipython
  - numpy
  - numpydoc
  - sphinx
  - sphinx-autobuild
  - pre-commit
  - accessnri::yamanifest>=0.3.12
  - pip
  - pip:
    - sphinx-autoapi
    - sphinx-book-theme
    - sphinx-copybutton
    - sphinx-design
    - sphinxcontrib-napoleon
    - myst-nb
    - access-py-telemetry
    - -e ..
